/* Define a custom web font */
@font-face {
  font-family: 'MyWebFont';
  url('webfont.woff2') format('woff2'), 
  url('webfont.woff') format('woff'), 
  url('webfont.ttf')  format('truetype'),
}
/* Use that font in a page */
body {
  font-family: 'MyWebFont', sans-serif;
  font-size: 1em;
  max-width: 1300px;
}
caption{
	padding:10px 0;
	margin: 5px 0;
	background: #d6d6d6;
	font-size: 1.1em;
	font-weight: bold;
}
button{
	padding: 8px 16px;
	cursor: pointer;
}
input[type="text"]{
	width: 100px;
	height: 25px;
	font-size: 1em;
	padding: 0 5px;
	margin: 10px 0 0 5px;
}
input.search{
	width: 400px;
	height: 30px;
	margin-left: 0;
	margin-top: 30px;
}
form label{
	width: 15%;
	display: inline-block;
	margin-left: 10px;
}
.main{
	margin: 10px 0 0 20px;
}
.emp-details{
	min-width: 500px;
	margin: 10px 0;
	border-collapse: collapse;
}
.emp-details th, .emp-details td{
	min-width: 150px;
	text-align: center;
	padding: 5px 10px;
	border-bottom: 1px dotted #d6d6d6;
}
.emp-details tr{
	padding: 10px 0;
}